#text-styling{
    font-family: Arial, Helvetica, sans-serif;
    
    
    /* font weight- keywords */
    font-weight: bold;
    font-weight: lighter;
    font-weight: bolder;
    font-weight: normal;

    /* font weight- numbers*/
    font-weight: 100;
    font-weight: 200;
    font-weight: 300;
    font-weight: 400;
    font-weight: 500;
    font-weight: 600;
    font-weight: 700;
    font-weight: 800;
    font-weight: 900;
    font-weight: 950;
    
    /*Text alignment  */
    text-align: right;
    text-align: center;
    text-align: left;

    /*  */
    font-style: italic;
    font-style: oblique;
}